<h1>商品列表</h1>

<%@products.each do |product|%>
<p>
	商品名：<%=product.proname%>
	单价:<%=product.proprice%>
	剩余数量:<%=product.proamount%>
	<%if product.picture?%>
	<p>商品图片:<%=image_tag product.picture%></p>
	<%end%>
	<%=link_to '查看详情',product%>
	<%=link_to "修改",edit_product_path(product)%>
	<%=link_to '删除',product,method: :delete,data:{confirm:"are you sure"}%>
</p>
<%end%>
<%=link_to "添加商品",new_product_path%>
