<h1>Store</h1>
<%@products.each do |product|%>
<p>
	商品名：<%=product.proname%>
	单价:<%=product.proprice%>
	剩余数量:<%=product.proamount%>
	<%if product.picture?%>
	<p>商品图片:<%=image_tag product.picture%></p>
	<%end%>
	<%if product.proamount>0%>
	<%=link_to 'add_to_cart',line_items_create_path(:product_id=>product)%>
	<%else%>
	<p>此商品已卖完请挑选其他商品吧</p>
	<%end%>
</p>
<%end%>