<%=provide(:title,"home")%>
<h1>welcome depot</h1>
<%if logged_in? && current_user.admin?%>
<%=render 'productindex'%>
<%elsif logged_in? %>
<%=render "storeindex"%>
<%else%>
<%=link_to "signup_now", signup_path%>
<%end%>
