<%=provide(:title,"login")%>
<h1>login</h1>
<%=form_for(:session,url:login_path) do |f|%>
<%=f.label :email%>
<%=f.text_field :email%></br>
<%=f.label :password%>
<%=f.password_field :password%></br>
<%=f.submit "login"%>
<%end%>
<%=link_to "signup now",signup_path%>