<%provide(:title,"signup")%>
<h1>signup</h1>
<%=form_for(@user) do |f|%>
	<%=render 'shared/error_messages',object: f.object%>
	<%=f.label :name%>
	<%=f.text_field :name%></br>
	<%=f.label :email%>
	<%=f.text_field :email%></br>
	<%=f.label :password%>
	<%=f.password_field :password%></br>
	<%=f.label :password_confirmation,"Confirmation"%>
	<%=f.password_field :password_confirmation%></br>

	<%=f.submit 'signup'%>
<%end%>
