<h1>订单详情</h1>
<%if @current_orders.size>0%>
<%@current_orders.each do |order|%>
<ul>
<li>	
	<%=order.created_at%>&nbsp;&nbsp;&nbsp;&nbsp;
	联系人：<%=order.name%>
	联系地址：<%=order.address%>
	email：<%=order.email%>
</li>
<ul>
	<%order.item_orders.each do |item|%>
	
		<li>商品名：<%=item.name%>&nbsp;&nbsp;&nbsp;&nbsp;商品数量：<%=item.amount%>&nbsp;&nbsp;&nbsp;&nbsp;商品单价<%=item.price%>&nbsp;&nbsp;&nbsp;&nbsp;小计：<%=item.total_price%></li>
	<%end%>
	<li>合计：<%=order.total_price%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%=link_to "delete",order,method: :delete,data:{confirm:"are you sure"}%>
	</li>
	</ul>
	
</ul>
<%end%>
<%else%>
<p>对不起，你还没有历史订单，请快去购物吧</p>
<%end%>
