<h1>order info</h1>
<%=form_for(@order) do |f|%>
	<%=f.label :name%>
	<%=f.text_field :name%></br>
	<%=f.label :address%>
	<%=f.text_area :address%></br>
	<%=f.label :email%>
	<%=f.text_field :email%></br>
	<%=f.hidden_field :user_id,value: @user.id%></br>
	<%=f.submit "send_to_order"%>
<%end%>