<h1>恭喜你订单成功</h1>
联系人：<%=@order.name%></br>
联系地址：<%=@order.address%></br>
邮箱：<%=@order.email%></br>
	<strong>商品&nbsp;&nbsp;&nbsp;&nbsp;数量&nbsp;&nbsp;&nbsp;&nbsp;单价&nbsp;&nbsp;&nbsp;&nbsp;小计</strong></br>
<%@order.item_orders.each do |item|%>
	<%=item.name%>&nbsp;&nbsp;&nbsp;&nbsp;<%=item.amount%>&nbsp;&nbsp;&nbsp;&nbsp;<%=item.price%>&nbsp;&nbsp;&nbsp;&nbsp;<%=item.total_price%></br>
<%end%>
合计：<%=@order.total_price%></br>

<%=link_to "see_all_orders",orders_path%>


