<h1>cart</h1>
<ul>
<%@cart.line_items.each do |item|%>
	<li><%=item.quantity%>&times<%=item.product.proname%>小节：<%=number_to_currency(item.total_price)%></li>
	<%end%>
</ul>
总价：<%=number_to_currency(@cart.total_price)%></br>
<%=link_to "empty cart", @cart,:method=>:delete,data: { confirm: "You sure?" }%></br>
<%=link_to "order", new_order_path%></br>
<%=link_to "histroy order",orders_path%>

