<%=form_for(@product,html:{multipart:true}) do |f|%>
	<%=render 'shared/error_messages',object: f.object%>
	<%=f.label :proname%>
	<%=f.text_field :proname%></br>

	<%=f.label :proprice%>
	<%=f.text_field :proprice%></br>
	
	<%=f.label :proamount%>
	<%=f.text_field :proamount%></br>

	<%=f.file_field :picture%></br>
	
	<%=f.submit 'add product'%>
<%end%>