<h1>购物详情列表</h1>
<p>商品名：<%=@product.proname%></p>
<p>商品单价：<%=@product.proprice%></p>
<p>商品数量：<%=@product.proamount%></p>
<%if @product.picture?%>
	<p>商品图片:<%=image_tag @product.picture%></p>
	<%end%>
<%=link_to 'see all products', products_path%>