<!DOCTYPE html>
<html>
<head>
  <title><%=baseTitle(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>depot</h1>
<div>
	<%flash.each do |message_type,message|%>
		<div><%=message_type%>:<%=message%></div>
	<%end%>
</div>
<ul>
<li><%= link_to "Home",root_path %></li>
<%if logged_in?%>
<li>
<ul>
	<li><%=link_to "owner",current_user%></li>
	<li><%=link_to "settings",edit_user_path(current_user)%>
	<li><%=link_to "logout",logout_path,method:"delete"%></li>
</ul>
<%unless current_user.admin?%>
<%=render @cart%>
<%end%>
</li>
<%else%>
<li><%= link_to "Log in", login_path%></li>
<%end%>
</ul>
<%= yield %>
<div>
<%=debug(params) if Rails.env.development?%>
</div>
</body>
</html>
